<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for shopping at jungle.com, here is your order receipt</h1>


    <p>We hoped you enjoyed your shopping experience and hope to see you again!</p>
  </body>
</html>